*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.top-container
{
    max-width: 100%;
}
/* header section style start */
.nav-link
{
    color: white;
    padding: 30px;
    font-size: 1.2rem;
}
.active-nav
{
    background-color: yellow !important;
    color: black !important;
}
.nav-link:hover
{
    background-color: yellow;
    color: black;
}

.padding-left
{
    padding-left: 18% !important;
}

.bg-warning
{
    background-color: yellow !important ;
}
.text-black
{
    color: black !important;
}
.text-warning
{
    color:yellow !important;
}
.logo
{
    font-size: 1.89rem;
}

.bg-lightgray
{
    background-color: rgb(218, 218, 218);
}
.bg-darkgray
{
    background-color: rgb(65, 65, 65) !important;
}
.bg-lightblack
{
    background-color: rgb(102, 102, 102);
}
.display-6
{
    font-size: 2rem;
}

.pricing-table
{
    font-size: 1.4rem;
}


/* footer menu style start */
.footer-menu a:hover
{
    color:yellow !important;
}

.footer-post:hover
{
    color: yellow; 
    cursor: pointer;
}
/* footer menu style end*/

.card-prices
{
    color: rgb(238, 238, 238);
    background-color: rgb(184, 184, 184);
}
.btns:hover
{
    color: black !important; 
    cursor: pointer;
    background: yellow;
}
.cards:hover
{
    transform: scale(1.02);
    cursor: pointer;
}
.social:hover
{
    cursor: pointer;
}
.small-mon
{
    font-size: 1rem;
}
/* second card section style start */
.border-6
{
    border: 15px solid rgb(235, 233, 233);
}
.border-right
{
    border-right: 5px solid rgb(235, 233, 233);
}

/* second card section style end */

/* recent work section style start */

.recent-work-bar
{
    border: 1px solid transparent;
    height: .4rem;
    width: 90%;
    background-color: rgb(235, 233, 233);
}
.mail-btn:hover
{
    cursor: pointer;
}
.search-link-container
{
    position: relative;
    margin-bottom: 31px;
}
.pictures
{
    position: relative;
}


/* recent work section style start */
.recent-section
{
    margin-top: 3%;
}
.recent-work
{
   
    display: flex;
    align-content: center;
}
.work-title
{
    width: 50%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 0px 30px 0px 0px;
    
    
}
.work-title-bar
{
    
    margin-top: 9%;
    border-top: 7px solid rgb(233, 233, 233);
    
}
.work-info
{
    font-weight: 500;
    text-transform: uppercase;
}
.images
{
    width: 280px;
    height: 100%;
    /* padding: 0px 0px 10px 10px; */
}
.slide-pic
{
    padding: 5px;
}

.work-nav
{
    display: grid;
    width: 50%;
    grid-template-columns: 50% 50%;
    background-color:rgb(196, 194, 194);
    text-align: center;
    color: white;
    float:right;
    font-size:1rem;
    margin-left: 50%;
    
    /* margin-top: 60%; */
    
}
.left-nav
{
    text-align: center;
    padding: 10px;
}
.right-nav
{
text-align: center;
padding: 10px;
}


.picture-info{
    padding: 10px 30px;
}

.picture-title
{
    
    font-size: 1rem;
    padding: 5px 0px;
    font-weight: bolder;
}
.light-color
{
    color: rgb(158, 158, 158);
}
.picture-bar
{
    width: 100%;
    border: .1px solid rgb(255, 255, 255);
    border-radius:10px;
    background-color:rgb(218, 218, 218);
    outline: none;
}
.dark-bar
{
    width: 20%;
    height: 100%;
    border-top: 3px solid rgb(110, 110, 110);
}
.picture-dis
{
    margin-top: 2%;
    color: rgb(158, 158, 158);
}

.pictures:hover  .search-link{
   
   display: flex;
   margin-top: -25%;
}
.pictures img:hover
{
    opacity: 70% ;
    cursor: pointer;
    background-color: yellow;
    
}

.search-link
{
    display: flex;
    background-color: rgb(226, 226, 226);
    position: absolute;
    margin-top: -5%;
    display: none;
    

}
.search-pic-icon, .search-link-icon
{
    padding: .8rem;
}
.search-link-icon:hover
{
    background-color: yellow;
    opacity: 1;
    cursor: pointer;
}
.search-pic-icon:hover
{
    background-color: yellow;
  
    cursor: pointer;
}


/* recent work section style end */


/* news letter section style start */

.letter-icon
{
    font-size: 2.4rem;
    
}

.news-letter-title
{
    font-size: 1.4rem;
    
}

.letter-info
{
    padding: 15px 0px 15px 15px ;
    margin: 0px;
    margin-top: 5px;
}
.email-container
{
    height: 100%;
    width: 100%;
}
.email-input
{
    font-size: 1.3rem;
    outline: none; 
    width: 70%;
}
.mail-btn
{
    background-color:yellow;
    color: black;
}
/* news letter section style end */





/* recent work section style end */


/* header section style end */


/* compnay logo container style start */
.company-logo > img
{
    width: 10px;
}
/* compnay logo container style end */

@media screen  and (max-width: 768px){
    
    .padding-left
{
    padding-left:initial !important;
}
    .pricing-table
    {
        font-size: 1rem;
    }
    .display-6
{
    font-size: 1.4rem;
}
.footer-menu
{
    display: flex;
    flex-direction: column;
}
.copyright
{
    width: 100%;
}
.border-6
{
    border: 0;
}
.border-right
    {
        border-right: none;
    }
    .letter-icon
{
    font-size: 1.4rem;
    
}
.mail-btn
{
    font-size: .9rem;
    padding: 10px;
}
.email-input
{
    padding: 10px;
    font-size: 1rem;
}

.recent-work
{
    display: grid !important;
    grid-template-columns: 50% 50%;
    max-width: 100%;
    padding: 20px;
}
.slide-pic
{
    max-width: 100%;
}
.picture-info-container
{
    width: 80%;
}
/* recent work section media  end*/

.work-title
{
    width: auto !important;
    margin: 20px;
}
.recent-section .recent-work
{
    padding: 10 !important;
}
.work-nav
{
    margin: 10px 0px;
}
}
@media screen and (max-width:500px) {
    .border-right
    {
        border-right: 0;
    }
    
}

@media screen and (max-width:660px) {
      /* recent work section media start*/
  .recent-work
  {
      
      grid-template-columns: 100% !important;
     justify-items: center;
  
     
  }
    /* recent work section media end*/
    
}
@media screen and (min-width: 1040px) {

   .navbar-nav
    {
        padding-left: 0px !important;
    }
}